<div class="container__big-card">
  <div class="big-card__image">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE3CETL_OertJKScoHfblxs6CBrKGVCmVESw&usqp=CAU"
    alt=""
    height="200px"
    srcset="">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Título da notícia</a></h1>
  </div>
  <div class="big-card__description">
    <p>Descrição da notícia</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quos repellendus
      expedita soluta quasi nihil nemo aspernatur facere quo. Dolor, quod aperiam velit
      ex temporibus quis possimus dolorem aut quos?
    </p>
  </div>
</div>
