<app-menu-title ></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    id="1"
    coverImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKpIUPXo7QADdHTvxXCnzLxxlzb9Fxp9RQHg&usqp=CAU"
    cardTitle="O UNIVERSO ANGULAR"
    cardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quos repellendus expedita soluta quasi nihil nemo aspernatur facere quo. Dolor, quod aperiam velit ex temporibus quis possimus dolorem aut quos?"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    id="2"
    coverImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSknTsWM2nkoZ8PlwTkGRQqN2Zcjag4fj7RA&usqp=CAU"
    cardTitle="O QUE É ANGULAR?"
    ></app-small-card>
    <app-small-card
    id="3"
    coverImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNSOYvSqqElqz2NGr45mIuYJwMv65yvf71YA&usqp=CAU"
    cardTitle="PRINCIPAIS FERRAMENTAS COM ANGULAR"
    ></app-small-card>
    <app-small-card
    id="4"
    coverImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM9v4QJvzJiRAA9ygTzjC1o3ibIL1rBoKleQ&usqp=CAU"
    cardTitle="COMANDOS NO ANGULAR"
    ></app-small-card>
  </div>
</div>
