<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title ></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card coverImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE3CETL_OertJKScoHfblxs6CBrKGVCmVESw&usqp=CAU"
    cardTitle="Título da notícia"
    cardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quos repellendus expedita soluta quasi nihil nemo aspernatur facere quo. Dolor, quod aperiam velit ex temporibus quis possimus dolorem aut quos?"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card coverImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE3CETL_OertJKScoHfblxs6CBrKGVCmVESw&usqp=CAU"
    cardTitle="Título da notícia 1"
    ></app-small-card>
    <app-small-card coverImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE3CETL_OertJKScoHfblxs6CBrKGVCmVESw&usqp=CAU"
    cardTitle="Título da notícia 2"
    ></app-small-card>
    <app-small-card coverImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE3CETL_OertJKScoHfblxs6CBrKGVCmVESw&usqp=CAU"
    cardTitle="Título da notícia 3"
    ></app-small-card>
  </div>
</div>
